body {
    background-color: rgb(249, 233, 255);
    font-family: sans-serif;
}

.box {
    width: 100%;
    height: 100px;
    margin: 0px;
    background-color: #f3a9;
    position: absolute;
    /* top: 0; */
    /* top se usa para establecer la posición de un elemento en relación con la parte superior del contenedor de nivel superior. En este caso, la caja se colocará en la parte superior del contenedor de nivel superior. */
    background-image: url("https://img.freepik.com/foto-gratis/colores-vibrantes-que-arremolinan-caos-submarino-futurista-generado-ia_188544-9692.jpg?t=st=1712888304~exp=1712891904~hmac=aaab23afd5aeea5204aac204e0c07b1e3aefbfea5f7501b3f351b095549789d0&w=1480");

    /* background image sirve para establecer una imagen de fondo para un elemento. En este caso, la imagen de fondo de la caja será la imagen proporcionada en la URL. */

    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-position se usa para especificar la posición de la imagen de fondo en el contenedor. En este caso, la imagen de fondo se colocará en el centro del contenedor. */

    /* background-size contain se usa para escalar la imagen de fondo para que se ajuste al tamaño del contenedor sin distorsionar la relación de aspecto. 

    background size cover se usa para escalar la imagen de fondo para que cubra todo el contenedor, manteniendo la relación de aspecto original. 

    background-repeat se usa para especificar si una imagen de fondo debe repetirse (repetirse) o no (no repetirse) en el contenedor. 
    */

   background-attachment: fixed;
    /* background-attachment se usa para especificar si la imagen de fondo debe desplazarse con el contenido o permanecer fija en su posición. En este caso, la imagen de fondo se fijará en su posición. */

  background: url("https://img.freepik.com/foto-gratis/colores-vibrantes-que-arremolinan-caos-submarino-futurista-generado-ia_188544-9692.jpg?t=st=1712888304~exp=1712891904~hmac=aaab23afd5aeea5204aac204e0c07b1e3aefbfea5f7501b3f351b095549789d0&w=1480") top / cover no-repeat fixed #f3a9;
  
  /* background podemos resumir lo anterior: nos pide los parametros de esta forma: imagen, posicion, repeat, attachment, color.

  Es importante poner / entre size y position porque si no, no funcionará. */


}

 /* background-color se usa para establecer el color de fondo de un elemento. En este caso, el color de fondo de la caja será #f3a. */

    /* Al fondo se le puede dar una transparencia. En este caso, en el color hexagesimal se le añade en el cuarto dígito, el último dígito representa la transparencia. En un color hexadecimal de 8 dígitos, los últimos dos dígitos representan el canal alfa. El valor del canal alfa va de 00 (completamente transparente) a FF (completamente opaco). 
    
    En el caso del color escogido: Calculamos la transparencia dividiendo en número 9/15 es aproximadamente 0.6.

    Esto significa que tu color tiene una opacidad del 60% (es decir, es 40% transparente).*/

.opaco {
    height: 100%;
    width: 100%;
    background-color: #000a;
}

h2{
    padding:20px;
    text-align: center;
    color: white;
    margin:0px;
}
