.box {
    padding: 20px 50px;
    /* Este padding es de 20px arriba y abajo y 50px a los lados */
    background: #fabed4;
    margin:20px;
    margin-left: 100px;
    text-align: center;
    color: #a6026c;
    border-top: 2px solid #a6026c;
    font-family:sans-serif;
    font-weight: bold;

}

/* Las cuatro formas más comunes de generar color en Css son: 

1. Por nombre: red, blue, green, etc.
2. Por hexadecimal: #ff0000, #0000ff, #00ff00, etc.
3. Por rgb: rgb(255,0,0), rgb(0,0,255), rgb(0,255,0), etc. 
4. Por hsl: hsl(0,100%,50%), hsl(240,100%,50%), hsl(120,100%,50%), etc. 

*/

.url{
    color: #78006c;
    padding: 20px 50px;
    margin:20px;
    margin-left: 290px;
}